<h1>This is the page to create event</h1>

<p>Form goes HERE</p>

<h4><%= currentUser.username %></h4>

<!-- if(!currentUser) -->
<li><a href="/register">Sign up!</a></li>
<li><a href="/login">Login</a></li>

<!-- else -->
<li>Signed In As <%= currentUser.username %></li>
<li><a href="/logout">Logout</a></li>