<div class="homeContainer">

    <h1>Event Name HERE</h1> 

    <div class="eventDisplayInfo">
        <h3>Location: HERE</h3>
        <h3>Data: HERE</h3>
        <h3>Start Time: HERE</h3>
        <h3>End Time: HERE</h3>
    </div>

    </div>

</div>

