<nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Event App</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/signin">Log In</a></li>
					<li><a href="/signup">Sign Up</a></li>
                </ul>
			</div>
		</div>
	</nav>

     <div class="indexContainer">
        <div class="row">
            <div class="col-lg-12">
                <div id="indexContent">
                    <h1>Event Planner</h1>
                    <h3>Helping you organize your next event!</h3>
                    <hr>
                    <a href="/signup">
                        <button class="btn btn-lg signUpBtn"> Sign Up Now!</button>
                    </a>
                    <div class="logInHome">
                        <h4>Already a member?</h4>
                        <a href="/signin">
                            <button class="btn btn-lg LogInBtn"> Log In</button>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


