html {
    height: 100%;
}

body {
    background: url(https://images.unsplash.com/photo-1501594274184-e8ac81671c76?ixlib=rb-0.3.5&s=8a428e059a7c5a4bc583991d390c2db3&auto=format&fit=crop&w=690&q=80);
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-size: cover;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}

h1 {
    font-weight: 700px;
    font-size: 5em;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
}

#indexContent {
    text-align: center;
    padding-top: 10%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
    color: white;
}

.logInHome {
    margin-top: 4%;
}

.navbar {
    margin: 0;
    background-color: #7F2040;
    border: none;

}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.wrapper {	
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.form-event-heading {
    margin-top: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
        z-index: 2;
    }
} 


#user_id {
    color: #7F2040;
    font-size: 1px;
}

input {
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} 

.homeContainer {
    background: rgba(247, 245, 245, 0.85);
    padding: 20px;
    width: 75%;
    margin: 30px auto;
    text-align: left;
}

.welcomeMessage {
    float: right;
    padding-top: 14px;
    color: white;
}

.addGuestButton, .submitGuest {
    width: 23%;
    margin: 3%;
    margin-left: 0px;
}

.submitButton {
    width: 24%;
    margin: 2% auto 0 auto;
    background-color: #337ab7;
    color: white;
}

.submitButton:hover, .addGuestButton:hover, .LogInBtn:hover, .signUpBtn:hover {
    background-color: white;
    color: #337ab7;
    border-color: white;
}

.LogInBtn, .signUpBtn{
    background-color: #337ab7;
    color: white;
}

.create-event {
    width: 90%;
    margin: 0 auto;
    padding: 1px 20px 20px 20px;
}

.navbar-default .navbar-brand {
    color: white;
}

.homeWrapper {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

ul.eventsUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modify-buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.modify-buttons a:first-child {
    margin-right: 20px;
}

.modify-buttons p.gobtn {
    font-size: 15px;
}

.modify-buttons span {
    padding-right: 3px;
}

.date {
    font-size: 14px;
}

.gobtn {
    font-size: 15px; 
    text-align: right;
    color: #FF4081;
}

.name {
    margin-bottom: 3px;
    color: #FF8CB3;
}

.itemName {
    margin-bottom: 0px;
}

h2 {
    color: #7F2040;
}

.create {
    justify-self: center;
    text-align: center;
}

.home {
    margin-top: 20px;
}

a:hover {
    text-decoration: none;
    color: black;
}

a {
    color: #FF4081;
}

.gobtn:hover, .guestbtn:hover {
    text-decoration: none;
    color: black;
}

h2.eventsList, h2.eventInfo {
    margin-top: 0px;
}

.col-lg-12 {
    padding: 0;
}

.row {
    margin: 0;
}

.editEvent {
    text-align: right;
}

p, .svg-inline--fa{
    font-size: 18px;
}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover{
    color: #FF4081;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FF4081;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 8px;
    font-size: 16px;
}

hr.listItems {
    width: 100%;
    border-top: 1px solid #f8f8f8a2;
}

.guestbtn, .delete_btn {
    font-size: 15px; 
    text-align: left;
    margin-left: 15px;
    color: #FF4081;
}

.delete_btn {
    margin-left: 5px;
}

p {
    margin: 0 0 5px;
}

.smallIcon {
    font-size: 10px;
    margin-bottom: 3px;
}

#create-item-form,  #create-guest-form{
    margin: 0px;
    padding: 10px;
    padding-top: 22px;
}

.form-heading {
    margin: 0px;
    font-size: 18px;
}

#create-item-form.submitGuest, #create-guest-form.submitGuest {
    width: 20%;
}

#create-item-form.create-event {
    padding: 0;
}

#close {
    float: right;
    padding: 10px;
}

#itemDIV, #inputDIV {
    z-index: 1010;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


